---
---

//
// IMPORTS
//

//@import "reset";
//@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-display: auto;
  font-weight: 400;
  text-align: justify;
}

strong {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-display: auto;
  font-weight: 400;
}

h2 {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 24px;
  font-display: auto;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
  display:inline; 
}

h3 {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-display: auto;
  padding: 0px;
  margin: 0px;
  display:inline; 
}

h1 {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 38px;
  font-weight: 700;
  font-display: auto;
  text-align: center;
  padding: 0px;
  margin-block-start: 14px;
  margin-block-end: 14px;
  margin-left: 0px;
  margin-right: 0px;

}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.zoom-image {
  width: 500px;
  height: 500px;
  transition: transform 0.3s; /* Add a smooth transition effect */
  width: 100%;
  height: auto;
  max-width: 100%;
}

.zoom-container {
  position: relative;
  padding: 2.5%;
  width: 25%;
  vertical-align: middle;
  min-width: 120px;
  // box-sizing: border-box; /* Include padding in width calculation */
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.pub-list {
  margin-top: 1.5rem;
}

.pub-item {
  margin-bottom: 1.2rem;
}

.pub-title {
  font-weight: 600;
  color: #182B49;   // your highlight blue
}

.pub-authors,
.pub-venue {
  font-size: 0.95rem;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";
